*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
nav{
    position: absolute;
    width: 100%;
    height: 72px;
    background: transparent;
    display: flex;
    justify-content: space-between; 
    padding: 0 20px;  
}
nav .container{
    width: 100%;
    display: flex;
    align-items: center;
}
nav .container .stitem-1{
    display: flex;
        align-items: center;
        padding: 0 7px;
        transition: all ease-in-out .4s;

}

nav .container .stitem-1:hover{
    padding: 7px 7px;
    border-radius: 20px;
    border: 1px solid var( --text-color);
}

nav .container .stitem-2{
        margin-left: 50px;
        display: flex;
        align-items: center;
        padding: 0 7px;
        border-radius: 8px;
        position: relative;
        transition: all ease-in-out .4s;

}
nav .container .stitem-2:hover{
    
    padding: 7px 7px;
    border-radius: 20px;
    border: 1px solid var( --text-color);

}

nav .container .stitem-2 .listthree{
    position: absolute;
    height: 180px;
    top: 39px;
    width: 140px;
    left: 8px;
    /*transform: translateY(117px);*/
    background-color: transparent;
    display: none;
    align-items: end;

}

nav .container .stitem-2 .list{
    animation: mymove ease 0.5s;
}
nav .container .stitem-2 .listtwo{
    animation: mymoveSecond ease 0.5s;
    
}

    

@keyframes mymove {
    from {
        top: 65px;
        opacity: 0.2;
    }
    to {
     top: 39px;
     opacity: 1;
    }
  }

  @keyframes mymoveSecond {
    from {
        top: 39px;
        opacity: 1;
    }
    to { 
        top: 75px;
        opacity: 0;
    }
  } 

nav .container .stitem-2 .dess{
    /*display: none;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    outline: 1px solid rgb(62, 61, 61);
    overflow: hidden;
}




nav .container .stitem-2 .list .dess a{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: white;
    
}
nav .container .stitem-2 .list .dess a:hover{
    background-color:rgb(197, 191, 191);
}
nav .container .stitem-2 .listtwo .dess a{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: white;
    
    
}












nav .container .stitem-3{
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding: 0 7px;
    border-radius: 8px;
    position: relative;
    transition: all ease-in-out .4s;
    
    
}

nav .container .stitem-3:hover{
    
    padding: 7px 7px;
    border-radius: 20px;
    border: 1px solid var( --text-color);

}

nav .container .stitem-3 .newlistthree{
    position: absolute;
    background-color:transparent;
    width: 301px;
    display: none;
    align-items: end;
    height: 180px;
    top: 39px;
   
}


nav .container .stitem-3 .list_three{
    animation: mymove-1 ease 0.5s;
}
nav .container .stitem-3 .removee{
    animation: mymoveSecond-1 ease 0.5s;
}



@keyframes mymove-1{
    from {
        top: 65px;
        opacity: 0.2;
    }
    to {
     top: 39px;
     opacity: 1;
    }
  }

  @keyframes mymoveSecond-1{
    from {
        top: 39px;
        opacity: 1;
    }
    to { 
        top: 75px;
        opacity: 0;
    }
  } 



nav .container .stitem-3 .newlistthree .exp{
    display: flex;
    flex-direction: column;
    width:100%;
    border-radius: 10px;
    outline: 1px solid rgb(62, 61, 61);
    overflow: hidden;

}

nav .container .stitem-3 .newlistthree .exp a{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: white;
}



nav .container .stitem-3 .newlistthree .exp a:hover{
    background-color:rgb(197, 191, 191);

}













nav .container .stitem-4{
    margin-left: 50px;
    padding: 15px 7px;

}

nav .container .stitem-2  .firstdownarow{
    transform: rotate(-180deg);
    margin-left: 10px;
    width: 26px;
    transition: all ease .4s;
}

nav .container .stitem-3 .secondownarow{
    transform: rotate(-180deg);
    margin-left: 10px;
    width: 26px;
    transition: all ease .4s;
}


nav .container div a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;

}


.logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: all ease .5s;
}
nav .menu-icon img{
    width: 35px;
}

nav .menu-icon{
    display: none;
}



/******************menu-button***********/

nav .menu-icon :nth-child(2),:nth-child(1){
    transition: all ease .5s;

}

.sliddermenubar{
    display: none;
}

.parenthomecontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parenthomecontainer .rightgreencolor{
    width: 50%;
    height: 100vh;
    background-color: rgb(32, 131, 32);
    position: absolute;
    right: 0;
   
}

.homecontainer{
    width: 1320px;
    height: 700px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

 

.homecontainer .imgmidilcontainer{
    height:auto;
    width: auto;
    position: absolute;
    left: 70px;
    
    transition: all ease .5s;
    
}

.homecontainer .imgmidilcontainer img{
    width: 705px;
    height: 439px;
    opacity: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.homecontainer .homeimgtitile{
    position: absolute;
    left: 467px;
    top: 180px;
   /* z-index: 1;*/
    color: green;
    background: rgb(46,171,32);
background: linear-gradient(90deg, rgba(46,171,32,1) 39%, rgba(255,255,255,1) 54%);
    -webkit-background-clip: text;
    -webkit-text-stroke:3px transparent ;
    font-size: 60px;
    transition: all ease .5s;
}

.homecontainer .homeimgparagraph{
    position: absolute;
    width: 400px;
    height: 600px;
    top: 304px;
    left: 810px;

}

.homecontainer .homeimgparagraph p{
    color: orange;
    width: 100%;
}

.homecontainer .imgmidilcontainer :hover{
      transform: translateX(-20px);
      


}
span h2{
    color: black;
}
span p{
    color: black;
}



.itemslistsection{
    display: grid;
    grid-template-areas:
                       "imag inform"
                       "secondinform secondimg"
                       "fourthimg fourthform" 
                       "thirdinform thirdimg";

   padding: 25px 11%;  
    gap: 10px;                 

    grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 50% 1fr;
}

.itemslistsection .imag{
    grid-area: imag;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    border-top-right-radius:100px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
   
    
}
.itemslistsection .imag img{
    height: 100%;
   
    
}
.itemslistsection .imag img:hover{
    transform: scale(1.1);
}

.itemslistsection .inform{
    grid-area: inform;
    width: 100%;
    height: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.itemslistsection .inform p{
    display: none;
    animation: visibleanimation ease 3s;

}
.itemslistsection .secondinform{
    grid-area:secondinform;
    width: 100%;
    height: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.itemslistsection .secondinform p{
    display: none;
    animation: visibleanimation ease 3s;

}

.itemslistsection .secondimg{
    grid-area:secondimg;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px ;
    border-top-left-radius:100px ;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}
.itemslistsection .secondimg img{
    height: 100%;
}
.itemslistsection .secondimg img:hover{
    transform: scale(1.1);
}

.itemslistsection .thirdimg{
    grid-area:thirdimg;
    display: flex;
    align-items: center;
    border-radius:10px ;
    border-top-left-radius:100px ;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}
.itemslistsection .thirdimg img{
    width: 100%;
    height: 100%;
}


.itemslistsection .thirdimg img:hover{
    transform: scale(1.1);
}

.itemslistsection .thirdinform{
    grid-area:thirdinform;
    width: 100%;
    height: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.itemslistsection .thirdinform p{
    display: none;
    animation: visibleanimation ease 3s;

}

.itemslistsection .fourthimg{
    grid-area:fourthimg;
    display: flex;
    align-items: center;
    border-radius:10px ;
    border-top-right-radius:100px ;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.itemslistsection .fourthimg img{
    height: 100%;
}
.itemslistsection .fourthimg img:hover{
    transform: scale(1.1);
}


.itemslistsection .fourthform{
    grid-area:fourthform;
    width: 100%;
    height: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.itemslistsection .fourthform p{
    display: none;
    animation: visibleanimation ease 3s;

}

@keyframes visibleanimation {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
    
}


.singilebirdsection .singlebirdcontainer{
    background-color: black;
    display: grid;
    grid-template-areas: "image information" ;
    grid-template-rows:1fr ;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    margin: 10px;
}

.singilebirdsection .singlebirdcontainer .image {
    grid-area: image;
    transition: all ease-in-out 2s;
    
}
.animationimg{
    width: 100%;
}
.singilebirdsection .singlebirdcontainer .informofsingileimge{
    grid-area: information;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}
.informofsingileimge h2{

    color: white;
    margin-bottom: 20px;
}
.informofsingileimge p{
    color: white;
    padding-right: 5px;
    
}