@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

@media(max-width: 748px){
    nav .container{
        display:none;
    }

    nav .menu-icon{
        display: flex;
    width: 100%;
    align-items: center;
    }
    nav .menu-icon :nth-child(2){
        transform: translateX(-100px) ;
        
    }

  
    nav .menu-icon :nth-child(1){
        position: absolute;
        
    }
    .sliddermenubar{
        
        display: block;
        position: absolute;
        top: 72px;
        width: 100%;
        height: auto;
        padding: 100px 0;
        background-color:rgb(132, 175, 68);
        transform: translateX(-1000px);
        transition: all ease .5s;
    }
    .sliddermenubar .deschild{
        display: none;
        flex-direction: column;
        background-color: rgb(228, 227, 227);
    }
    .sliddermenubar .deschild a{
        width: 100%;
        text-align: start;
        padding: 6px 29px;
        color: black;
    }
    .sliddermenubar .deschild a:hover{
        background-color: rgb(178, 176, 176);
    }



    .sliddermenubarlist{
        width: 100%;
        height: 50px;
        margin: 5px 0;
        background-color:rgb(30, 119, 40);
        padding: 6px 29px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .sliddermenubarlist a{
        font-size: 18px;
        color: white;
        width: 100%;

    }

    .sliddermenubarlist .img_container1 {
        height: 100%;
    }
    .sliddermenubarlist .img_container2 {
        height: 100%;
    }

    .sliddermenubarlist .img_container1 img{
        width: 30px;
    }
    .sliddermenubarlist .img_container1 :nth-child(2){
        display: none;
    }

    .sliddermenubarlist .img_container2 img{
        width: 30px;
    }
    .sliddermenubarlist .img_container2 :nth-child(2){
      display: none;
    }

    .sliddermenubar .expchild{
        display: none;
        flex-direction: column;
        
        
    }
    
    .sliddermenubar .expchild a{
        font-size: 18px;
        width: 100%;
        text-align: start;
        padding: 6px 29px;
        color: black;
        background-color: rgb(228, 227, 227);
    }
    .sliddermenubar .expchild a:hover{
        background-color: rgb(178, 176, 176);


    }
    

    

}


@media(max-width: 1246px){
    .homecontainer .imgmidilcontainer{
        left: 116px;
    }
    .homecontainer .imgmidilcontainer img{
        width: 590px;
        height: 379px;

    }
    .homecontainer .homeimgtitile{
        left: 400px;

    }
    .homecontainer .homeimgparagraph{
        left: 735px;
        top: 280px;
    }

    .itemslistsection{
        grid-template-areas:
                       "imag inform"
                       "secondinform secondimg"
                       "fourthimg fourthform" 
                       "thirdimg thirdimg"
                       "thirdinform thirdinform";

        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 50% 1fr;

    }

    .itemslistsection .thirdimg{
    grid-area:thirdimg;
    display: inline-block;
    align-items: center;
    border-radius:20px ;
    border-top-left-radius:20px;
    overflow: hidden;
    box-shadow: none;
    margin: 15px auto;

    }

    
}

@media(max-width: 1180px){
    .homecontainer .imgmidilcontainer{
        left: 30px;
    }
    .homecontainer .imgmidilcontainer img{
        width: 560px;
        height: 359px;

    }
    .homecontainer .homeimgtitile{
        left: 370px;
    font-size: 43px;
    top: 180px;

    }
    .homecontainer .homeimgparagraph{
        left: 645px;
        top: 280px;

    }
    .homecontainer .homeimgparagraph{
        left: 636px;
    top: 260px;
    width: 386px;
    }
    
}

@media(max-width: 1030px){
    .homecontainer .imgmidilcontainer{
        left: 148px;
    }
    .homecontainer .imgmidilcontainer img{
        width: 410px;
        height: 257px;

    }

    .homecontainer .homeimgtitile{
        left: 425px;
    font-size: 43px;
    top: 237px;

    }
    .homecontainer .homeimgparagraph{
        left: 645px;
        top: 280px;

    }
    .homecontainer .homeimgparagraph{
        left: 572px;
    top: 306px;
    width: 336px;
    height: auto;

    }
    
}

@media(max-width: 948px){
    .homecontainer .imgmidilcontainer{
        left: 138px;
    }
    .homecontainer .imgmidilcontainer img{
        width: 318px;
        height: 223px;

    }

    .homecontainer .homeimgtitile{
        left: 236px;
    font-size: 43px;
    top: 166px;

    }
    .homecontainer .homeimgparagraph{
        left: 645px;
        top: 280px;

    }
    .homecontainer .homeimgparagraph{
        left: 482px;
    top: 231px;
    width: 336px;
    height: auto;

    }
    
}

@media(max-width: 835px){
    .homecontainer .imgmidilcontainer{
        left: 95px;
    }
    .homecontainer .imgmidilcontainer img{
        width: 318px;
        height: 223px;

    }

    .homecontainer .homeimgtitile{
        left: 198px;
        font-size: 43px;
        top: 166px;
    

    }
    
    .homecontainer .homeimgparagraph{
        left: 439px;
    top: 231px;
    width: 286px;
    height: auto;

    }
    .itemslistsection{
        grid-template-areas:
                    "imag"
                    "inform"
                    "secondimg"
                    "secondinform"
                    "thirdimg"
                    "thirdinform"
                    "fourthimg"
                    "fourthform";

        grid-template-rows: 1fr 1fr 1fr .7fr 1fr .6fr 1fr .6fr;
        grid-template-columns: 1fr ;
        padding: 5px 5px;  
    }

    .itemslistsection .thirdimg{
        grid-area:thirdimg;
        display: flex;
        align-items: center;
        justify-content: center;
    border-radius:10px ;
    border-top-left-radius:100px ;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    
    
    } 

    .itemslistsection .inform{
        border-bottom: 1px solid rgb(135, 134, 134);
       
    }

    .itemslistsection .secondinform{
        border-bottom: 1px solid rgb(135, 134, 134);
       
    }

    .itemslistsection .thirdinform{
        border-bottom: 1px solid rgb(135, 134, 134);
       
    }
    .itemslistsection .inform p{
        display: block;
    }
    .itemslistsection .secondinform p{
        display: block;
    }
    .itemslistsection .thirdinform p{
        display: block;
    }
    .itemslistsection .fourthform p{
        display: block;
    } 

    .singilebirdsection .singlebirdcontainer{
        grid-template-areas: "image"
                              "information";
         grid-template-rows:1fr ;
         grid-template-columns: 1fr;

    }

    footer .footercontainer{
       
        grid-template-areas: "stset1"
                             "stset2"
                             "stset3" ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    .stset1,.stest2,.stest3{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 260px;

    }
    

    

    
    
    

        

       

    
    
}

@media(max-width: 745px){

    .homecontainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .homecontainer .imgmidilcontainer{
        left: auto;
        top: 135px;
    }
    .homecontainer .imgmidilcontainer img{
        width: 529px;
        height: 306px;

    }

    .homecontainer .homeimgtitile{
        left: auto;
        font-size: 43px;
        top: 60px;
        
    }
    
    .homecontainer .homeimgparagraph{
        left: auto;
        top: 490px;
        width: 80%;
        height: auto;

    }

    .homecontainer .homeimgparagraph{

        text-align: center;
    }


    
}

@media(max-height:706px){
    .parenthomecontainer{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .parenthomecontainer .rightgreencolor{
        width: 50%;
        height: 700px;
        background-color: rgb(32, 131, 32);
        position: absolute;
        right: 0;
    }
    .homecontainer .homeimgparagraph{
        left: auto;
    top: 459px;
    width: 95%;
    }
    
}

@media(max-width: 555px){

    
    .homecontainer .imgmidilcontainer{
        left: auto;
        top: 135px;
    }
    .homecontainer .imgmidilcontainer img{
        width: 344px;
    height: 229px;

    }

    .homecontainer .homeimgtitile{
        left: auto;
        font-size: 34px;
        top: 60px;
        
    }
    
    .homecontainer .homeimgparagraph{
        left: auto;
        top: 417px;
        width: 100%;

    }


    
}